html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Poppins", sans-serif;
}
.wrapper {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #387ADf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 16px;
    height: 64px;
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
}
.logo strong {
    color: #387ADF;
}
.logo p {
    font-size: 32px;
    color: #20275d;
}
.logo img {
    height: 56px;

}
a {
    font-size: 18px;
    color: #20275d;
    opacity: 1;
    margin-left: 24px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    transition: color 1s ease-in 0;
}
a:hover {
    color: #2a64bd;
}
.mobile-wrapper {
    display: none;
    width: 100vw;
}


.main-container {
    background-color: #387ADF;
    display: flex;
    padding: 32px 24px;
}
.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}
.content {
    width: 32%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 36px;

}
.white-button {
    background-color: #FBA834;
    color: #35374B;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 60%;
    font-size: 21px;
    border: none;
    border-radius: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 1.5s linear 0,5;
}
.white-button:hover {
    background-color: #f7b04c;
  }
.banner-img {
    width: 60%;
    height: auto;
    border-radius: 12px;
}
h2 {
    font-size: 56px;
    margin: 0px;
    font-weight: 700;
    color: #F6F5F5;
}
h3 {
    font-size: 24px;
    margin: 0px;
    font-weight: 500;
    color: #F6F5F5;
    width: 80%;
}
.second-container {
    background-color: #F6F5F5;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.second-image {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 60%;
    border-right: 1px solid #387bdf37;
}
.information-main {
    width: auto;
    height: auto;
    margin-right: 24px;
    margin-top: 24px;
    margin-left: 24px;
    border-radius: 12px;
}
.info-content {
    gap: 24px;
    width: auto;
    margin-right: 24px;
    margin-left: 24px;
}
.info-content h4 {
    font-weight: 400;
    color: #35374B;
}
.info-content h3 {
    color: #20275d;
}
.content-1 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    background-color: #F6F5F5;
    transition: background-color 1.5s linear 0,5;
    border-bottom: 1px solid #387bdf37;
}
.content-1:hover {
    background-color: #f7b04c2f;
}
.desktop-img {
    width: 35%;
    height: auto;    
    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 12px;

}
.mobile-img {
    display: none;
    width: 100vw;
    border-radius: 12px;
}
.text-1 a {
    margin-left: 0px;
    font-size: 16px;
    color: #387ADf;
    padding-bottom: 8px;
    transition: color 1s ease-in 0;
}
.text-1 a:hover {
    color: #2a64bd;
}
.text-1 h4 {
    margin: 0px;
    font-size: 21px;
    font-weight: 500;
    padding-bottom: 8px;
    color: #20275d;
}
.text-1 p {
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 8px;
    color: #35374B;
}
.content-2 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    background-color: #F6F5F5;
    transition: background-color 1.5s linear 0,5;
    border-bottom: 1px solid #387bdf37;
}
.content-2:hover {
    background-color: #f7b04c2f;   
}
.content-3 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    background-color: #F6F5F5;
    transition: background-color 1.5s linear 0,5;
}
.content-3:hover {
    background-color: #f7b04c2f;
}

.third-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #387ADF;
}
.main-text-2 {
    margin: 32px 0px 16px 0px;
}
.third-boxes {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 72px 32px 72px;
}
.boxes-1 {
    position: relative;
    width: 26%;
    margin: 16px;
    background-color: #F6F5F5;
    /* border: 1px solid #F6F5F5 */
    border-radius: 8px;
    padding-bottom: 16px;
    transition: all 0.3s ease;
}
.boxes-2 {
    position: relative;
    width: 26%;
    margin: 16px;
    background-color: #F6F5F5;
    /* border: 1px solid #F6F5F5 */
    border-radius: 8px;
    padding-bottom: 16px;
    transition: all 0.3s ease;
}
.boxes-3 {
    position: relative;
    width: 26%;
    margin: 16px;
    background-color: #F6F5F5;
    /* border: 1px solid #F6F5F5 */
    border-radius: 8px;
    padding-bottom: 16px;
    transition: all 0.3s ease;
}
.boxes-4 {
    position: relative;
    width: 26%;
    margin: 16px;
    background-color: #F6F5F5;
    /* border: 1px solid #F6F5F5 */
    border-radius: 8px;
    padding-bottom: 16px;
    transition: all 0.3s ease;
}
.boxes-5 {
    position: relative;
    width: 26%;
    margin: 16px;
    background-color: #F6F5F5;
    /* border: 1px solid #F6F5F5 */
    border-radius: 8px;
    padding-bottom: 16px;
    transition: all 0.3s ease;
}
.boxes-6 {
    position: relative;
    width: 26%;
    margin: 16px;
    background-color: #F6F5F5;
    /* border: 1px solid #F6F5F5 */
    border-radius: 8px;
    padding-bottom: 16px;
    transition: all 0.3s ease;
}
.boxes-1:hover, .boxes-2:hover, .boxes-3:hover, .boxes-4:hover, .boxes-5:hover, .boxes-6:hover {
    transform: scale(1.05);
    background-color: #ededed;
}
.boxes-1 img, .boxes-2 img, .boxes-3 img, .boxes-4 img, .boxes-5 img, .boxes-6 img {
    height: auto;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.third-boxes h3 {
    margin: 8px 16px 0px 16px;
    padding-bottom: 8px;
    padding-top: 8px; 
    font-weight: 600;
    color: #20275d;
}
.third-boxes h4 {
    padding-bottom: 8px;
    padding-top: 8px;
    margin: 8px 16px 0px 16px;
    color: #FBA834;
    font-weight: 400;
}
.third-boxes p {
    padding-bottom: 8px;
    padding-top: 8px;
    margin: 8px 16px 0px 16px;
    color: #35374B;
}
.thesis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 16px 32px 16px;
    background-color: #F6F5F5;
}
.thesis h2 {
    margin-bottom: 32px;
    color: #387ADF;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* gap: 24px */
}
.thesis-main {
    width: 60%;
    padding-right: 24px;
}
.thesis video {
    width: 100%;
    margin-bottom: 24px;
    border-radius: 8px;
}
.text h3 {
    color: #20275d;
}
.text h4 {
    color: #35374B;
}
.text p {
    color: #35374B;
}
.thesis aside {
    display: flex;
    flex-direction: column;
    width: 40%;
    border-bottom: none;
    margin-top: 8px;
}
#Fisma {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #387bdf37;
    border-left: 1px solid #387bdf37;
    /* border-top: 1px solid #387bdf37 */

    padding: 8px;
    transition: background-color 1.5s linear 0,5;
}
#now-then {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border-bottom: 1px solid #387bdf37 */
    border-left: 1px solid #387bdf37;

    padding: 8px;
    transition: background-color 1.5s linear 0,5;
}
#Fisma:hover, #now-then:hover {
    background-color: #f7b04c2f;
}
.thesis-block img {
    height: auto;
    width: 35%;
    margin: 1rem;
    border-radius: 8px;
}
.thesis-block .text {
    padding: 0 0.5rem;
    color: #35374B;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: white;
    color: black;
    border-top: 2px solid gray;
}
@media screen and (max-width: 768px) {
    .wrapper {
        display: none;
    }
    .mobile-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;

    }
    .nav-icon {
        height: 24px;
        width: 24px;
        margin-right: 24px;
    }
    .image-container {
        flex-direction: column;
    }
    .banner-img {
        width: 100%;
    }
    .content {
        width: 100%;
    }
    .second-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .second-image {
        display: none;
    }
    .content-1, .content-2, .content-3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: none;
        margin: 16px 16px 64px 16px;
    }
    .desktop-img {
        display: none;
    }
    .mobile-img {
        width: 100%;
        height: auto;
        display: flex;
    }
    .text-1 a {
        margin-left: 32px;
        margin-right: 32px;
        font-size: 16px;
        color: blue;
        padding-bottom: 8px;
    }
    .text-1 h4 {
        margin-left: 32px;
        margin-right: 32px;
        font-size: 21px;
        font-weight: 500;
        padding-bottom: 8px;
    }
    .text-1 p {
        margin-left: 32px;
        margin-right: 32px;
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 8px;
    }
    .boxes-1 img, .boxes-2 img, .boxes-3 img, .boxes-4 img, .boxes-5 img, .boxes-6 img {
        display: none;
    }
    .third-boxes p, .third-boxes h4 {
        display: none;
    }
    .third-boxes {
        margin: 0px 0px 24px 0px;
    }
    .boxes-1, .boxes-2, .boxes-3, .boxes-4, .boxes-5, .boxes-6 {
        width: 100%;
        background-color: #fff;
        margin: 8px 16px;
        padding-bottom: 24px;
        padding-top: 16px;
        border: none;
    }
    .third-boxes h3 {
        padding: 0px;    
        margin: 0px 16px 0px 16px;
    }
    .main-text-2 {
        margin: 32px 0px 8px 0px;
        margin-block-start: 12px;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
    .thesis-main, .thesis-main video {
        width: 100%;
    }
    .thesis-aside {
        display: none;
    }
    #Fisma, #now-then {
        display: none;
    }
    .thesis-block img {
        display: none;
    }
    .thesis-block .text {
        display: none;
    }
    .thesis-main .text {
        display: none;
    }

    .footer-links {
        display: none;
    }
}
